---
import Header from "../../components/Header.astro";
import Layout from "../../layout/layout.astro";
import { Code } from "astro/components";
---

<Layout title="Colors - Docs">
	<Header
		title="Colors"
		description="Loxt doesn't just make it easier to add your own custom themes, it even makes easier the use of colors in the terminal, all in one module!"
	/>

	<main class="mt-5 gap-5 grid justify-center">
		<p>
			The colors module has terminal colors, bold, dim, underlined, inverted,
			hidden and more.
		</p>
		<p>Since the methods return strings you can chain them.</p>
		<Code
			code={`
import Loxt from 'loxt';

const loxt = new Loxt();

loxt.start('Some code...');
loxt.ready('Initialization code, whatever...');
loxt.info('Loxt is easy to use!');     
loxt.warn('You can use colors!');      
loxt.error('Create your own themes!'); 
loxt.success('You can use themes from other people too!');
loxt.start('My Amazing App!');
		`}
			lang="ts"
			theme="one-dark-pro"
		/>
	</main>
</Layout>
