---
import '../app.css'
import Navbar from "../components/Navbar.astro";
import favicon from '/favicon.png';

interface Props { title: string }

const { title } = Astro.props as Props
---

<html lang="en">

	<head>
		<title>{title} - Loxt</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="shortcut icon" href={favicon} type="image/png">
	</head>

	<body class="text-white">
		<Navbar />
		<slot />
	</body>

</html>